.mainHeader {
    width: 100%;
    height: 6em;
    background: #0000004a;
    margin-bottom: 1em;
    display: flex;

}

.header__image {
    width: 24em;
    height: 6em;
    padding: 0 4em;
}

.nav__links {
    display: flex;
    flex-direction: row;
    list-style:none;
    margin-top:2.3em;   
}

.nav__list {
    padding-right: 1em;
    font-size: 1.5em;
    text-decoration: none;
}

.nav__link {
    text-decoration: none;
    color:white;
}
.socialMedia__icons {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.icons {
    color: white;
    font-size: 2em;
    padding-right: 1em;
}

.icons__list {
    list-style:none;
}

.rep__name {
    margin: 0px 0 5px 0;
    font-size: 2em;
}
.rep__district {
    margin: 0px 0 5px 0;
}

.rep__party{
    margin: 3px 0 3px 0;
}

.committees__title {
    margin-bottom: 5px;
}

.committees__list {
    padding-left: 16px;
    margin-top:0;
}

.votes {
    border-collapse: collapse;
}

.vote_title, .vote_info {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align:center;
}


